@charset "UTF-8";

body {
  font-family: 'Noto Sans JP', sans-serif;
  color: #222;
  background-color:aliceblue
}

/* header
------------------------------ */
header{
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 99999; 
}
#header {
  width: 100%;
  background-color:turquoise
}
#header .wrapper {
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
}

#header p {
  float: left;
  margin: 22px 0 0;
  font-size: 1.4rem;
  font-weight: 700;
}

#header ul {
  float: right;
  margin: 28px 0;
  font-size: 0.9rem;
  font-weight: 500;
}
#header ul li {
  float: left;
  margin-right: 40px;
}
#header ul li:last-child {
  margin-right: 0;
}

a{
  text-decoration-line:none ;
  text-decoration-color: black;
}