@charset "UTF-8";

body {
    margin: auto;
  color: #222;
  background-color:aliceblue
}

/* header
------------------------------ */
header{
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 99999; 
}
#header {
  width: 100%;
  background-color:turquoise
}
#header .wrapper {
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
}

#header p {
  float: left;
  margin: 22px 0 0;
  font-size: 1.4rem;
  font-weight: 700;
}

#header ul {
  float: right;
  margin: 28px 0;
  font-size: 0.9rem;
  font-weight: 500;
}
#header ul li {
  float: left;
  margin-right: 40px;
}
#header ul li:last-child {
  margin-right: 0;
}

#header a{
  text-decoration-line:none ;
  text-decoration-color: black;
}
body h2{
  text-align: center;
  margin:  0 auto;
  font-size: 2vh;
}
body p{
  text-align: center;
  margin:  0 auto;
  font-size: 1vh;
}


@font-face {
  font-family: "Kosugi Maru";
  src: url("KosugiMaru-Regular.ttf") format("Kosugi Maru");
}
* {
  font-family: "Kosugi Maru","sans serif";
  font-weight: 400;
  font-style: normal;
  margin:0; padding:0;
}

@keyframes GradietionAnimation { 
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
 .footer {
   display: flex;
   width: 100%;
   height: 9vw;
background-color:dimgray;
 position: absolute;
 bottom: 0;
 }